.page-wrapper {
    background-image: url("../images/darkness.png");
    color: white;
}

p {
    font-size: 2rem;
}


.jumbotron {
    font-size: 3rem;
}

.warnings {
    font-size: 1.6rem;
}

.image {
    opacity: .4;
}